<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "br.com.dekwilde.spincles"
    versionCode = "26"
    version     = "1.0.0" >

  <name>Spincles</name>
  <description>
      Sensory Game: Play with the gravity, accelerometer, compass, microphone level.
  </description>
  <author email="dekwilde@gmail.com" href="https://www.dekwilde.com.br/spincles">
        Dek Wilde
  </author>
  <content src="index.html" />


  <plugin name="cordova-plugin-dbmeter" source="npm" />



  <!-- all platforms -->
  <preference name="phonegap-version" value="cli-6.5.0" />
  <preference name="orientation" value="portrait" />
  <preference name="fullscreen" value="true" />
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackgroundColor" value="0xffFFCC00"/>
  <preference name="HideKeyboardFormAccessoryBar" value="true"/>
  <preference name="UseLegacySwiftLanguageVersion" value="true" />


  <!-- Android only -->
  <preference name="android-build-tool" value="ant" />
  <preference name="android-minSdkVersion" value="14" />
  <preference name="android-maxSdkVersion" value="26" />
  <preference name="android-targetSdkVersion" value="26" />
  <preference name="android-installLocation" value="auto" />
  <preference name="InAppBrowserStorageEnabled" value="true"/>
  <preference name="DefaultVolumeStream" value="call" />
  <preference name="AndroidLaunchMode" value="singleTop"/>
  <preference name="LogLevel" value="VERBOSE"/>
  <preference name="KeepRunning" value="false"/>
  

  <icon src="res/icon.png" /> 
  <splash src="res/splash.png"/>



</widget>