@font-face{    
	font-family:"HelveticaNeueLTStd-BdCn";		
	src:	url('HelveticaNeueLTStd-BdCn.eot');
	src:	url('HelveticaNeueLTStd-BdCn.otf')  format('opentype'), 
			url('HelveticaNeueLTStd-BdCn.eot?#iefix') format('embedded-opentype'),			
			url('HelveticaNeueLTStd-BdCn.svg#HelveticaNeueLTStd-BdCn') format('svg'),			
			url('HelveticaNeueLTStd-BdCn.ttf') format('truetype'),			
			url('HelveticaNeueLTStd-BdCn.woff') format('woff');		
	font-weight:normal;     
	font-style:normal
}  

